*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.slide{
    padding: 10vw;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}



.wrapper{
    display: flex;
    width: 300vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.paraContainer{
    height: 100vw;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    scroll-behavior: smooth;
    
    
}
.paraContainer::-webkit-scrollbar {
    display: none;
}

#specialBg{
    position: relative;
    width: 100vw;
    height: 100vh;
    
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.l1, .l2, .l3, .l4{
    background-position-y: 0px;
}

@keyframes upDownUp {
    0% {
      background-position-y: 0px;
    }
  
    50% {
      background-position-y: -20px;
    }
    100%{
      background-position-y: 0px;
    }
  }
  @keyframes upDownUp2 {
    0% {
      background-position-y: -20px;
    }
  
    50% {
      background-position-y: 0px;
    }
    100%{
      background-position-y: -20px;
    }
  }

.l1{
    background-image: url('./img/illus_1/oiseaux.png');
    animation: upDownUp 4s infinite
}  
.l2{
    background-image: url('./img/illus_1/verdure.png');
}
.l3{
    background-image: url('./img/illus_1/sol.png');
}
.l4{
    background-image: url('./img/illus_1/banc.png');
}
.l5{
    background-image: url('./img/illus2/arbre.png');
}
.l6{
    background-image: url('./img/illus2/lamp.png');
}
.l7{
    background-image: url('./img/illus2/sol.png');
}
.l8{
    background-image: url('./img/illus_3/buisson.png');
}
.l9{
    background-image: url('./img/illus_3/sol.png');
}
.l10{
    background-image: url('./img/illus_3/arbre.png');
}

.fillTop{
    height: 100vh;
    width: 100vw;
}
.tooMuch{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('./img/fond_city.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* all content */

.twoSectionsContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/Tracé\ 5636.png);
    background-position: top;
    background-position-y: 100px;
    background-repeat: no-repeat;
    background-size: calc(cover - 30%);
}
/* SECTION KEY NUMBERS */
.keyNumbers{
    margin-top: 100px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.threeContainer{
    padding: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 25px;
    max-height: 65vh;
    height: 500px;
    background-color: white;
    
}
.unContainer{
    max-width: 25vw;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    text-align: center;
}
.percent{
    color: #C4E6F2;
    font-size: 99px;
    font-weight: bold;
}
.textPercent{
    font-size: 20px;
    font-weight: bold;
}

h2{
    font-size: 35px;
    margin: 30px 60px;
}



.seeMore{
    font-size: 20px ;
    font-family: sans-serif;
    color: #143642;
    display: flex;
    align-items: center;
    width: calc(100% + 20px);
    transition: 0.5s;
    justify-content: center;
    gap: 30px;
}

.seeMore:hover{
    gap: 10px;
}

/* SOME ARTICLES */
.someArticles{
    margin-top: 100px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.threeArticles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;
}

.oneArticle{
    background-color: blue;
    height: 100%;
    width: 400px;
    border-radius: 30px;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 3px 6px #00000029;
    background-image: url(./img/Image\ 8.png);

}
.oneArticle:nth-child(3){
    background-image: url(./img/michael-fousert-O63S96_qn8c-unsplash.png);
}
.oneArticle:nth-child(1){
    background-image: url(./img/marek-piwnicki-WiZOyYqzUss-unsplash.png);
}

.titleAndButton{
    background-color: white;
    height: 40%;
    padding: 50px;
    border-radius: 28px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h3{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.read{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #143642;
    text-decoration: none;
    font-size: 23px;
    font-family: sans-serif;
    color: #143642;
    height: 41px;
    transition: 0.2s;
    width: 45%;
    margin-top: 10px;
}
.read:hover{
    background-color: #143642;
    color: white;
}

/* TEMOIGNAGE */
.wgContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/Tracé\ 5638.png);
    background-position: top;
    background-position-y:0;
    background-position-x: -180px;
    background-repeat: no-repeat;
    background-size: calc(cover - 30%);
    height: 1400px;
}

.weekGuest{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.testimony{
    height: 1000px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 6px #00000066;
    border-radius: 30px;
    display: flex;
    padding: 65px;
    gap: 45px;
}
.tTitle{
    font-size: 35px;
}
.quoteTest{
    margin-top: 40px;
}
#pTest{
    font-size: 23px;
    font-family: sans-serif;
}

#testButton{
    margin-top: 50px;
    font-size: 20px ;
    font-family: sans-serif;
    color: #143642;
    width: calc(100% + 20px);
    transition: 0.5s;
    display: flex;
    align-items: center;
    gap: 30px;
}

#testButton:hover{
    gap:10px;
}

#footer{
    width: 100%;
}

nav a{
    color: black;
    text-decoration: none;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
nav a:hover{
    border: white solid 5px;
}

nav{
    height: 100px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
}

.rose{
    background-color: #FFC4C0;
}
.rose:hover{
    border: black solid 5px;
}
.bleu{
    background-color: #143642;
    color: white;
}
.rouge{
    background-color: #FF4539;
    color: white;
}

.index{
    z-index: 1;
}

.containerHome{
    background-color: rgba(255, 255, 255, 0.7);
    width: 750px;
    height: 500px;
    border-radius: 60px;
    padding: 50px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.homeText{
    font-size: 30px;
    font-family: sans-serif;
    height: 150px;
}
.homeLogo{
    width: 70%;
}

#rond1{
    border: black solid 5px;
}
#rond2{
    border: white solid 5px;
}
#rond3{
    border: white solid 5px;
}