*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.slide{
    height: 100vh;
    width: 100vw;
    position: relative;
}



.wrapper{
    display: flex;
    width: 300vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background-color:lightseagreen;
}

.paraContainer{
    height: 100vw;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
}

.fillTop{
    height: 100vh;
    width: 100vw;
}

/* all content */
.allContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* SECTION KEY NUMBERS */
.keyNumbers{
    margin-top: 100px;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.threeContainer{
    padding: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}